body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:222px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:148px;
  width:173px;
  height:177px;
  overflow:hidden;
  visibility:hidden;
}
#u51_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:177px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:61px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:60px;
  font-size:14px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:168px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:61px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:172px;
  height:60px;
  font-size:14px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:168px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:61px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:172px;
  height:60px;
  font-size:14px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:168px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:61px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:90px;
  width:172px;
  height:60px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
